Repository Jackela/ai_enhanced_pdf_scholar: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, pytest-coverage, frontend-typecheck, check-todos, check-migrations

safety-check:
  name: Safety vulnerability check
  entry: safety
  args:
  - check
  - --json
  - --output
  - safety-report.json
  language: system
  pass_filenames: false

pytest-coverage:
  name: PyTest with coverage
  entry: pytest
  args:
  - --cov=src
  - --cov-fail-under=10
  - --cov-report=term-missing
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript check
  entry: bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: system
  pass_filenames: false

check-todos:
  name: Check for TODO/FIXME in production code
  entry: bash
  args:
  - -c
  - grep -rn "TODO\|FIXME" src/ backend/ && exit 1 || exit 0
  language: system
  pass_filenames: false

check-migrations:
  name: Check database migration consistency
  entry: python
  args:
  - -c
  ...

fix(pre-commit): Fix f-string syntax - cannot include backslash in f-string expression
  scripts/demo_citation_network_analysis.py
Due: pytest-coverage, check-todos

feat(ci): Simplify pre-commit configuration to focus on core standards
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

remove(ci): Delete problematic pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

Fix
  backend/api/dependencies.py
  backend/api/main.py
  backend/api/models/multi_document_models.py
  backend/api/routes/multi_document.py
  backend/api/websocket_manager.py
  complete_uat_report.json
  demo_multi_document_rag.py
  frontend/src/components/Layout.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/collections/CollectionCard.tsx
  frontend/src/components/collections/CollectionStatisticsPanel.tsx
  frontend/src/components/collections/CollectionViewer.tsx
  frontend/src/components/collections/CreateCollectionModal.tsx
  frontend/src/components/collections/CrossDocumentChat.tsx
  frontend/src/components/collections/CrossDocumentQueryResult.tsx
  frontend/src/components/monitoring/AlertsPanel.tsx
  frontend/src/components/monitoring/DatabaseMetricsPanel.tsx
  frontend/src/components/views/CollectionsView.tsx
  frontend/src/components/views/MonitoringDashboard.tsx
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/preload.ts
  run_complete_uat.py
  src/database/multi_document_models.py
  src/interfaces/rag_interface.py
  src/interfaces/repository_interfaces.py
  src/repositories/document_repository.py
  src/repositories/multi_document_repositories.py
  src/services/document_service.py
  src/services/multi_document_rag_service.py
  src/services/rag_service.py
  test-results/parallel_validation_results.json
  tests/conftest.py
  tests/test_database_setup.py
  tests/test_multi_document_models.py
  tests/test_multi_document_rag_service.py
  tests/uat_api_endpoints.py
  tests/uat_multi_document_system.py
  tests/uat_real_pdf_workflow.py
Due: pytest-coverage, frontend-typecheck, check-todos, check-migrations

refactor(ci): Simplify and standardize CI/CD workflows
  .github/workflows/quality-lightning-simple.yml
  .github/workflows/test-simple.yml
Due: none

feat(cicd): implement unified main-ci.yml quality gate
  .coveragerc
  .flake8
  .github/workflows/disabled/build-optimized.yml
  .github/workflows/disabled/ci-enhanced.yml
  .github/workflows/disabled/ci-main.yml
  .github/workflows/disabled/dependency-audit.yml
  .github/workflows/disabled/deploy-production-canary.yml
  .github/workflows/disabled/deploy-staging-blue-green.yml
  .github/workflows/disabled/deployment-advanced.yml
  .github/workflows/disabled/deployment.yml
  .github/workflows/disabled/docs-validation-old.yml
  .github/workflows/disabled/docs-validation.yml
  .github/workflows/disabled/e2e-advanced.yml
  .github/workflows/disabled/e2e-tests.yml
  .github/workflows/disabled/integration-validation.yml
  .github/workflows/disabled/main-pipeline.yml
  .github/workflows/disabled/matrix-testing.yml
  .github/workflows/disabled/performance-advanced.yml
  .github/workflows/disabled/performance-monitoring.yml
  .github/workflows/disabled/performance-regression.yml
  .github/workflows/disabled/performance.yml
  .github/workflows/disabled/quality-enhanced.yml
  .github/workflows/disabled/quality-gate.yml
  .github/workflows/disabled/quality-security.yml
  .github/workflows/disabled/security-advanced.yml
  .github/workflows/disabled/security-scan-advanced.yml
  .github/workflows/disabled/test-optimized.yml
  .github/workflows/main-ci.yml
  .github/workflows/quality-lightning-simple.yml
  pyproject.toml
  pytest.ini
Due: none

test(uat): execute full AI-driven user acceptance test
  complete_uat_report.json
  reports/AI_UAT_Report.md
Due: none

fix(architecture): remediate critical UAT failures in structure and DB layer
  DEPENDENCY_NOTES.md
  ECodeai_enhanced_pdf_scholarbackendapiauthdependencies.py
  ECodeai_enhanced_pdf_scholarbackendapiauthjwt_handler.py
  ECodeai_enhanced_pdf_scholarbackendapiauthmodels.py
  ECodeai_enhanced_pdf_scholarbackendapiauthpassword_security.py
  ECodeai_enhanced_pdf_scholarbackendapiauthroutes.py
  ECodeai_enhanced_pdf_scholarbackendapiauthservice.py
  TEST_DEPENDENCIES.md
  backend/api/middleware/error_handling.py
  backend/api/models/__init__.py
  backend/api/models/multi_document_models.py
  backend/api/routes/cache_admin.py
  backend/api/routes/rag.py
  backend/services/l3_cdn_cache.py
  complete_uat_report.json
  reports/AI_UAT_Remediation_Report.md
  requirements-dev.txt
  requirements-scaling.txt
  src/database/connection.py
  src/services/rag/chunking_strategies.py
  src/services/rag/large_document_processor.py
  src/services/rag/performance_monitor.py
  tests/integration/test_complete_system_integration.py
  tests/uat_multi_document_system.py
  tests/uat_real_pdf_workflow.py
Due: pytest-coverage, check-todos, check-migrations

fix(uat): improve system from 25% to 40% success rate
  backend/api/models/__init__.py
  backend/api/models/multi_document_models.py
  complete_uat_report.json
  reports/AI_UAT_Final_Status_Report.md
  reports/AI_UAT_Report_REVALIDATION.md
  reports/API_Startup_Debug_Report.md
  run_complete_uat.py
  tests/uat_multi_document_system.py
Due: pytest-coverage, check-todos

chore(reports): clean up all intermediate process documents
  reports/AI_UAT_Final_Status_Report.md
  reports/AI_UAT_Remediation_Report.md
  reports/AI_UAT_Report.md
  reports/AI_UAT_Report_REVALIDATION.md
  reports/API_Startup_Debug_Report.md
  reports/CI_Analysis_Report.md
  reports/Cleanup_Execution_Summary.md
  reports/Cleanup_Proposal.md
  reports/Database_Connection_Fix_Validation.md
  reports/F821_Fix_Completion_Report.md
  reports/F821_Undefined_Names_Fix_Report.md
  reports/Health_Check_Resolution_Report.md
  reports/Project_Health_Check.md
  reports/fix_recommendations.md
Due: none

fix(api): diagnose and partially fix API startup issue
  backend/api/main.py
  reports/API_Startup_FINAL_DIAGNOSIS.md
  run_complete_uat.py
  start_api_server.py
Due: pytest-coverage, check-todos

fix(ci): permanently resolve API startup failure in UAT
  complete_uat_report.json
  run_complete_uat.py
  start_api_server.py
  tests/uat_multi_document_system.py
Due: pytest-coverage, check-todos

feat(server): replace uvicorn with hypercorn to resolve windows binding issue
  backend/api/main.py
  complete_uat_report.json
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/graph_store.json
  data/multi_doc_indexes/collection_1/image__vector_store.json
  data/multi_doc_indexes/collection_1/index_store.json
  pyproject.toml
  run_complete_uat.py
  start_api_server.py
Due: pytest-coverage, check-todos

feat(auto-repair): implement autonomous UAT repair system achieving 50% success rate
  HEALTH_ENDPOINT_FIX_SUMMARY.md
  UAT_FIXES_SUMMARY.md
  auto_repair_system.py
  backend/api/dependencies.py
  backend/api/main_bulletproof.py
  backend/api/main_simple.py
  backend/api/models/__init__.py
  complete_uat_report.json
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
  emergency_repair.py
  run_complete_uat.py
  src/services/document_service.py
  src/services/rag_service.py
  start_api_server_autorepair.py
  start_api_server_simple.py
  start_bulletproof_server.py
  test_api_health.py
  test_db.py
  test_health_direct.py
  test_health_endpoint.py
  test_hypercorn.py
  test_server.py
  test_simple_server.py
  tests/test_database_setup.py
  tests/uat_multi_document_system.py
  uat_real_pdf_report.json
  uat_report.json
  verify_fixes.py
Due: pytest-coverage, check-todos

refactor(api): simplify lifespan startup and create isolated verifier
  autonomous_repair_log.json
  backend/api/dependencies.py
  backend/api/main.py
  complete_uat_report.json
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
  start_api_server.py
  start_api_server_autorepair.py
  test_server.py
  verify_server_startup.py
Due: pytest-coverage, check-todos

test(uat): final regression test after fixing all blockers
  complete_uat_report.json
  reports/AI_UAT_REGRESSION_TEST_FINAL.md
Due: none

chore: update multi-document index files from UAT execution
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
Due: none

fix(core): implement missing db tables and RAG methods
  backend/api/models/__init__.py
  backend/api/routes/documents.py
  backend/config/redis_cluster.py
  complete_uat_report.json
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
  reports/AI_UAT_REGRESSION_TEST_FINAL.md
  src/database/migrations/versions/008_add_multi_document_tables.py
  src/database/modular_migrator.py
  src/interfaces/rag_interface.py
  src/services/rag/chunking_strategies.py
  src/services/rag/quality_assessment.py
  src/services/rag/vector_similarity.py
  src/services/rag_service.py
  tests/production/test_production_readiness.py
  tests/scaling/test_horizontal_scaling.py
Due: pytest-coverage, check-todos, check-migrations

fix: resolve critical import errors and UAT failures
  backend/api/routes/library.py
  backend/services/alert_service.py
  complete_uat_report.json
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
  src/services/rag/chunking_strategies.py
  src/services/rag_service.py
Due: pytest-coverage, check-todos

test(diag): create isolated dependency connection verifier
  verify_dependencies.py
Due: pytest-coverage, check-todos

feat(devops): configure and automate local dev environment
  DEV_ENVIRONMENT_STATUS.md
  docker-compose.yml
  init-db.sql
  pyproject.toml
  scripts/start-dev-environment.ps1
Due: none

test(env): validate local dependency connections
  VERIFICATION_REPORT.md
Due: none

test(env): validate local dependency connections
  CURRENT_VERIFICATION_STATUS.md
Due: none

test(env): validate local dependency connections
  verify_actual_dependencies.py
Due: pytest-coverage, check-todos

test(uat): final validation after resolving all env blockers
  complete_uat_report.json
  reports/AI_UAT_FINAL_VALIDATION.md
Due: none

fix(tests): resolve all import errors in unit test suite
  backend/config/redis_cluster.py
  pyproject.toml
  tests/services/rag/test_large_document_processing.py
  tests/unit/test_api_routes.py
Due: pytest-coverage, check-todos

test(unit): execute full unit test suite
  reports/UNIT_TEST_EXECUTION_REPORT.md
Due: none

fix(db): resolve infinite recursion in database connection layer
  src/database/connection.py
Due: pytest-coverage, check-todos, check-migrations

fix: resolve critical test failures through systematic bottom-up repair
  backend/api/models/__init__.py
  data/multi_doc_indexes/collection_1/default__vector_store.json
  data/multi_doc_indexes/collection_1/docstore.json
  data/multi_doc_indexes/collection_1/index_store.json
  reports/Docker_Connection_Diagnostics.md
  reports/VERIFICATION_STATUS_REPORT.md
  src/exceptions/document.py
  src/repositories/base_repository.py
  src/repositories/document_repository.py
  src/services/document_library_service.py
  src/services/rag_cache_service.py
  tests/api/test_basic_endpoints.py
  tests/integration/test_api_endpoints.py
  tests/repositories/test_vector_repository.py
  tests/security/test_authentication_authorization.py
  tests/services/test_document_library_service.py
  tests/services/test_enhanced_rag_service.py
  tests/services/test_rag_cache_service.py
  tests/test_authentication.py
Due: pytest-coverage, check-todos

fix: Phase 4 bottom-up repair - resolve critical test failures
  backend/api/routes/library.py
  src/database/migrations/versions/008_add_multi_document_tables.py
  src/repositories/base_repository.py
  src/services/enhanced_rag_service.py
  tests/integration/test_api_endpoints.py
  tests/services/rag/test_coordinator.py
  tests/services/test_enhanced_rag_service.py
Due: pytest-coverage, check-todos, check-migrations

fix: achieve 98.8% test pass rate through systematic bottom-up repair
  backend/api/middleware/security_headers.py
  backend/core/secrets_vault.py
  src/database/connection.py
  src/services/enhanced_rag_service.py
  tests/api/test_basic_endpoints.py
  tests/integration/test_api_endpoints.py
  tests/middleware/test_security_headers.py
  tests/services/test_enhanced_rag_service.py
  tests/services/test_error_recovery.py
Due: pytest-coverage, check-todos, check-migrations

fix(api): resolve final 4 failing API tests for improved test coverage
  backend/core/secrets_vault.py
  tests/integration/test_api_endpoints.py
  tests/middleware/test_security_headers.py
  tests/security/test_secrets_management.py
  tests/services/test_enhanced_rag_service.py
Due: pytest-coverage, check-todos

fix(api): resolve final 3 failing API tests for 100% pass rate
  backend/api/error_handling.py
  src/services/enhanced_rag_service.py
  tests/integration/test_api_endpoints.py
  tests/middleware/test_security_headers.py
  tests/security/test_rate_limiting_ddos.py
  tests/security/test_secrets_management.py
  tests/services/test_enhanced_rag_service.py
  tests/test_authentication.py
Due: pytest-coverage, check-todos

refactor(services): implement dependency injection for DocumentLibraryService
  CLAUDE.md
  docs/archive/SESSION_COMPLETE.md
  src/controllers/library_controller.py
  src/services/document_library_service.py
  src/services/document_service.py
  tests/integration/test_mock_replacement_demo.py
  tests/integration/test_real_document_library.py
  tests/integration/test_real_pdf_processing.py
  tests/services/test_document_library_service.py
  tests/services/test_document_library_service_enhancements.py
Due: pytest-coverage, check-todos

chore: bootstrap openspec and stabilize optional deps
  AGENTS.md
  DEPENDENCY_NOTES.md
  backend/services/metrics_collector.py
  backend/services/smart_cache_manager.py
  openspec/AGENTS.md
  openspec/project.md
Due: pytest-coverage, check-todos

feat: align cache ML profile and document file types
  API_ENDPOINTS.md
  DEPENDENCY_NOTES.md
  Dockerfile
  PROJECT_DOCS.md
  README.md
  backend/api/models.py
  backend/api/models/multi_document_models.py
  backend/api/models/responses.py
  backend/api/routes/documents.py
  backend/config/caching_config.py
  backend/services/cache_service_integration.py
  backend/services/integrated_cache_manager.py
  backend/services/metrics_collector.py
  backend/services/metrics_service.py
  openspec/changes/archive/2025-11-13-add-documents-file-type-column/proposal.md
  openspec/changes/archive/2025-11-13-add-documents-file-type-column/specs/documents/spec.md
  openspec/changes/archive/2025-11-13-add-documents-file-type-column/tasks.md
  openspec/changes/archive/2025-11-13-update-cache-ml-dependency/proposal.md
  openspec/changes/archive/2025-11-13-update-cache-ml-dependency/tasks.md
  openspec/changes/archive/2025-11-13-update-openspec-governance/proposal.md
  openspec/changes/archive/2025-11-13-update-openspec-governance/specs/governance/spec.md
  openspec/changes/archive/2025-11-13-update-openspec-governance/tasks.md
  openspec/project.md
  openspec/specs/documents/spec.md
  openspec/specs/governance/spec.md
  pyproject.toml
  requirements-scaling.txt
  src/database/migrations/__init__.py
  src/database/migrations/versions/009_add_document_file_type.py
  src/database/models.py
  src/services/document_library_service.py
Due: pytest-coverage, check-todos, check-migrations

Path conditions:
  safety-check: any of: requirements\.txt$
  pytest-coverage: any of: \.py$, but not: ^(frontend/|node_modules/|\.venv/|venv/)
  frontend-typecheck: any of: ^frontend/.*\.(ts|tsx)$
  check-todos: any of: \.py$, but not: ^(tests/|test_.*\.py)
  check-migrations: any of: ^src/database/.*\.py$
